@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --mopi-blue: #062c53;
  --mopi-shadow: 1px 1px 0px 0px var(--mopi-blue),
    2px 2px 0px 0px var(--mopi-blue), 3px 3px 0px 0px var(--mopi-blue),
    4px 4px 0px 0px var(--mopi-blue), 5px 5px 0px 0px var(--mopi-blue);
  --mopi-border: 1px solid var(--mopi-blue);
  --text-color: var(--mopi-blue);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
